DATABASE_URL=postgresql://postgres:password@localhost:5432/intranetagbc
PORT=3000
HOST=localhost
BETTER_AUTH_SECRET=your_secret_key_here
BETTER_AUTH_URL=http://localhost:3000
APP_URL=https://intranet.correos.gob.bo:8122

# Configuración SMTP Institucional — Zimbra Correos de Bolivia
MAIL_MAILER=smtp
MAIL_HOST=zimbra.correos.gob.bo
MAIL_PORT=587
MAIL_USERNAME=noreply@correos.gob.bo
MAIL_PASSWORD=your_smtp_password_here
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@correos.gob.bo
MAIL_FROM_NAME="Correos de Bolivia"
